<div class="row">
<h1 style="background-color:white;color:darkgreen;margin-top:12px; padding:8px; text-align:center">
    Welcome To You In Hospital!
</h1>
    <img class="col-15" style="height:500px; width:10000px; max-height:100%; max-width:100%;" src="/image/pexels-tom-fisk-1692693.jpg" />
    <a class="col-6" style="background-color:green; color:black; font-size:22px;text-align:center" asp-controller="Doctors" asp-action="GetIndexView">Our Doctorss</a>
    <a class="col-6" asp-controller="Departments" style="background-color:maroon; color:black; font-size:22px;text-align:center" asp-action="GetIndexView">Departments</a>
</div>
